---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.webp";
import construction from "@images/construction-image.webp";
import tools from "@images/automated-tools.webp";
import dashboard from "@images/dashboard-image.webp";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Join the Banking Revolution"
    url="https://pointbank.com"
  /> -->

  <HeroSection
    title=`<span class="text-blue-500 dark:text-blue-400 lg:w-4/5">Redefining Modern Banking`
    subTitle="Where Innovation Meets Excellence: Fast, Reliable, and Intuitive Banking Solutions"
    primaryBtn="Get Started"
    primaryBtnURL="/signup"
    secondaryBtn="Contact Us"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.9</span> / 5`
    starCount={5}
    reviews=`From Over <span class="font-bold">50k</span> Reviews`
    src={heroImage}
    alt="Point Bank - A modern solution for all your banking needs"
  />

  <ClientsSection
    title="Driving Progress Together"
    subTitle="From industry pioneers to local businesses, Point Bank is the chosen partner for seamless financial solutions."
  />

  <FeaturesGeneral
    title="Legacy Out, Modern In"
    subTitle="Point Bank is here to address the frustrations of slow transactions, lack of transparency, and outdated systems. We are setting a new standard with lightning-fast services, enhanced security, and a commitment to putting you first"
    src={featureImage}
    alt="Point Bank features innovative solutions"
    features={features}
  />

  <FeaturesNavs
    title=`Customizing <span class="text-blue-500 dark:text-blue-400">Point Bank</span> for Your Financial Success.`
    tabs={[
      {
        heading: "Speed and Efficiency",
        content:
          "Experience the fastest transaction times in the industry. With Point Bank, say goodbye to long waiting times and inefficiencies that plague traditional banks.",
        svg: "tools",
        src: tools,
        alt: "Fast financial transactions",
        first: true,
      },
      {
        heading: "Intuitive User Experience",
        content:
          "Point Bank’s interface is built for simplicity and ease of use. Whether you’re managing personal finances or handling business accounts, our platform gives you the control you need with zero hassle.",
        svg: "dashboard",
        src: dashboard,
        alt: "A user-friendly financial dashboard",
        second: true,
      },
      {
        heading: "Advanced Security",
        content:
          "We prioritize your security. Point Bank’s state-of-the-art encryption and security features ensure that your money and personal data are always safe.",
        svg: "house",
        src: construction,
        alt: "Advanced financial security measures",
      },
    ]}
  />

  <TestimonialsSection
    title="Banking, Reimagined"
    subTitle="Point Bank is trusted by clients globally for our speed, transparency, and superior user experience. Join the new era of banking today."
    testimonials={[
      {
        content:
          "They have completely changed our banking experience. Transactions are lightning fast, and their support is unmatched.",
        author: "Meesha Shah",
        role: "CFO | Aventus",
        avatarSrc:
          "https://aventuspartners.co.uk/wp-content/uploads/2020/06/Meesha-circular-proportion-web-300x300.png",
      },
    ]}
    statistics={[
      {
        count: "2.1M+",
        description: "transactions processed with Point Bank",
      },
      {
        count: "80%",
        description: "faster transaction processing time*",
      },
      {
        count: "99.9%",
        description: "up-time rate",
      },
      {
        count: "24/7",
        description: "customer support available for all banking needs",
      },
    ]}
  />

  <PricingSection
    title="Simple and Transparent Pricing"
    subTitle="No hidden fees. No surprises. Point Bank offers a straightforward pricing structure that adapts to your financial needs."
    pricing={pricing}
  />

  <FAQ title="Frequently<br />Asked Questions" faqs={faqs} />

  <HeroSectionAlt
    title="Join the Revolution"
    subTitle="We are building a new era of banking. Experience the future of banking today."
    url="https://pointbank.com/signup"
  />
</MainLayout>





<!-- TEMPALTE -->
<!-- <MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  />

  <HeroSection
    title=`Equip Your Projects with <span
        class="text-yellow-500 dark:text-yellow-400">ScrewFast</span>`
    subTitle="Top-quality hardware tools and expert construction services for every project need."
    primaryBtn="Start Exploring"
    primaryBtnURL="/products"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
  />

  <FeaturesGeneral
    title="Meeting Industry Demands"
    subTitle="At ScrewFast, we tackle the unique challenges encountered in the hardware and construction sectors. From cutting-edge tools to expert services, we're dedicated to helping you overcome obstacles and achieve your goals."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Customize <span class="text-yellow-500 dark:text-yellow-400">ScrewFast</span>'s offerings to perfectly suit your hardware and construction needs.`
    tabs={[
      {
        heading: "Cutting-Edge Tools",
        content:
          "Empower your projects with ScrewFast's cutting-edge tools. Experience enhanced efficiency in construction management with our sophisticated automated solutions.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Intuitive Dashboards",
        content:
          "Navigate with ease using ScrewFast's intuitive dashboards. Set up and oversee your projects seamlessly, with user-friendly interfaces designed for quick and effective workflow management.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Robust Features",
        content:
          "Minimize complexity, maximize productivity. ScrewFast's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="ScrewFast is an open-source template, meticulously crafted with Astro, Tailwind CSS, and Preline UI frameworks."
    url="https://github.com/mearashadowfax/ScrewFast"
  />
</MainLayout> -->

